:root {
    --light-blue: #99e8f9;
    --blue: #88c3f3;
    --tan: #fbf4d5;
    --grey-blue: #cfe4f2;
  }


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    background-color: #ffffff;
}

nav {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 40px 20px;
    row-gap: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: cursive;
    font-size: 36px;
    margin: 0;
    padding-left: 20px;
}

.search-bar-container {
    width: 100%;
    text-align-last: center;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    font-size: 20px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--grey-blue);
}

.search-bar-submit {
    font-size: 20px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--light-blue);
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px 20px 40px;
}

.header h2 {
    margin: 0;
}

.filter-options-container {
    padding: 40px;
}

#sort-by {
    display: flex;
    justify-content: space-between;
}

#open {
    cursor:pointer; 
}

#close {
    cursor:pointer; 
    display: none;
}

.articles-container {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
    padding: 40px 20px;
}

.articles-container-column {
    background-color: var(--grey-blue);
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
}

.articles-container-column h2 {
    text-align: center;
}


@media only screen and (min-width: 1024px) {
    nav {
        padding: 40px 40px 40px 40px;
        flex-direction: row;
        align-items: center;
    }

    .title {
        flex-direction: row;
        padding: 0 20px 0 0; 
    }

    .search-bar-container {
        width: 100%;
        text-align-last: center;
        row-gap: 0;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        column-gap: 20px;
    }

    .search-bar {
        width: 400px;
    }

    .articles-container {
        flex-direction: row;
        column-gap: 40px;
        row-gap: 0;
        padding: 40px;
    }

    .articles-container-column {
        width: 50%;
    }


}